<ul class="sidebar">
    <li>
        <a class="navbar-brand text-light" href="./dashboard.php"> Tableau de bord</a>
    </li>
    <li>
        <a class="navbar-brand text-light" href="./admins-manager.php">Gestion des admins</a>
    </li>
    <li>
        <a class="navbar-brand text-light" href="./customers-manager.php">Gestion des utilisateurs</a>
    </li>
    <li>
        <a class="navbar-brand text-light" href="./orders-manager.php">Gestion des commandes</a>
    </li>
    <li>
        <a class="navbar-brand text-light" href="./products-manager.php">Gestion des produits</a>
    </li>
    <li>
        <a class="navbar-brand text-light" href="./logout.php">Se déconnecter</a>
    </li>
</ul>
<input type="checkbox" id="sidebar-btn" class="sidebar-btn" checked />
<label for="sidebar-btn"></label>