<footer>
    <hr>
    <div class="container">
        <div class="text-center">
            Besoin d’une aide supplémentaire ? <span>Chattez en ligne</span> ou appelez le 0800 046 046.
        </div>
    </div>
    <div class="footer-content">
        <div id="footer-lg-rs">
            <p>
                L’Pear Store en ligne exploite une technologie de chiffrement standard pour préserver la
                confidentialité des
                informations que vous soumettez. En savoir plus sur notre politique de sécurité.
            </p>
            <hr>
            <p>
                Vous pouvez aussi faire vos achats dans un Pear Store ou chez un revendeur. Ou appeler le 0800 046 046.
                <br>
                France
                Copyright © 2021 Pear Inc. Tous droits réservés.
            </p>
        </div>
    </div>
</footer>